pkgbase = bun-bin
	pkgdesc = All-in-one JavaScript runtime built for speed, with bundler, transpiler, test runner, and package manager. Includes bunx, shell completions and support for baseline CPUs
	pkgver = 1.4.1
	pkgrel = 1
	url = https://github.com/oven-sh/bun
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	provides = bun
	conflicts = bun
	options = !debug
	source_x86_64 = bun-x64.zip::https://github.com/oven-sh/bun/releases/download/bun-v1.4.1/bun-linux-x64.zip
	source_x86_64 = bun-x64-baseline.zip::https://github.com/oven-sh/bun/releases/download/bun-v1.4.1/bun-linux-x64-baseline.zip
	source_x86_64 = LICENSE
	sha256sums_x86_64 = 74c1c3bee7cd998500c8f969cd8972355ac6a07207e94a39eece1999b56ffabf
	sha256sums_x86_64 = a8c9c6738202e2fced555dd860a953c56c0cd059f75041e7010ae81a32802646
	sha256sums_x86_64 = 9b296bcc20090b5ea079dc1bca15913a32246121169bcf54cbdb7384d6f5b32b
	source_aarch64 = bun-aarch64-1.4.1.zip::https://github.com/oven-sh/bun/releases/download/bun-v1.4.1/bun-linux-aarch64.zip
	source_aarch64 = LICENSE
	sha256sums_aarch64 = 580ce77533108dc6b10bec1721397e4f5aa44e909726da2451d483dfc5e581d6
	sha256sums_aarch64 = 9b296bcc20090b5ea079dc1bca15913a32246121169bcf54cbdb7384d6f5b32b

pkgname = bun-bin
