pkgbase = bun-bin
	pkgdesc = All-in-one JavaScript runtime built for speed, with bundler, transpiler, test runner, and package manager. Includes bunx, shell completions and support for baseline CPUs
	pkgver = 1.4.3
	pkgrel = 1
	url = https://github.com/oven-sh/bun
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	provides = bun
	conflicts = bun
	options = !debug
	source_x86_64 = bun-x64.zip::https://github.com/oven-sh/bun/releases/download/bun-v1.4.3/bun-linux-x64.zip
	source_x86_64 = bun-x64-baseline.zip::https://github.com/oven-sh/bun/releases/download/bun-v1.4.3/bun-linux-x64-baseline.zip
	source_x86_64 = LICENSE
	sha256sums_x86_64 = 3e730528d89775f03f87f05c06787c4df4099d0a37f3f252e7b829cb23816e18
	sha256sums_x86_64 = 1fc2edac843102909e3a1be1d8d9802cc6071cf074e67e88231f4ffe0f8b397b
	sha256sums_x86_64 = 9b296bcc20090b5ea079dc1bca15913a32246121169bcf54cbdb7384d6f5b32b
	source_aarch64 = bun-aarch64-1.4.3.zip::https://github.com/oven-sh/bun/releases/download/bun-v1.4.3/bun-linux-aarch64.zip
	source_aarch64 = LICENSE
	sha256sums_aarch64 = efa9813da5ed72423bf847f916e8d2c47c0d776add972354026a75e10da9aa21
	sha256sums_aarch64 = 9b296bcc20090b5ea079dc1bca15913a32246121169bcf54cbdb7384d6f5b32b

pkgname = bun-bin
