pkgbase = meridian
	pkgdesc = Local Anthropic API powered by your Claude Max or Antigravity subscription
	pkgver = 1.76.6
	pkgrel = 1
	url = https://github.com/rynfar/meridian
	install = meridian.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = bun
	depends = gcc-libs
	depends = glibc
	depends = nodejs>=22
	provides = claude-max-proxy
	conflicts = claude-max-proxy
	options = !strip
	options = !debug
	source = meridian-1.76.6.tar.gz::https://github.com/rynfar/meridian/archive/refs/tags/meridian-v1.76.6.tar.gz
	source = meridian.service
	sha256sums = ec388af6c62c0d0cf601b809e9b2a93e084982de8aee3d15057e5db673fc6aa5
	sha256sums = 214cb5117909c4c67be2e6f2a8031856a7bb05814093d0d39486027e11873b75

pkgname = meridian
